#equirateral{
    width:0;
    border-left:200px solid transparent;
    border-right:200px solid transparent;
    border-bottom:200px solid blue;
}
#isoscles{
    width:0;
    border-left:100px solid transparent;
    border-right:100px solid transparent;
    border-bottom:80px solid blue; 
}
#scalene{
    width:0;
    border-left:100px solid transparent;
    border-right:200px solid transparent;
    border-bottom:80px solid blue; 
}
body{
    background-color:gray;
    font-size: 20px;
    text-align: center;
}
button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
 }
 h1{
    
    color: burlywood;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    font-weight: bolder;
    font-family: fantasy;
 } 
 h2,h3,h4{ color:brown;
    font-weight: bold;
    text-align: center;
    font-weight: normal;
     font-size: 30px
  }

  