#equirateral{
    width:0;
    border-left:200px solid transparent;
    border-right:200px solid transparent;
    border-bottom:200px solide red;
}
#isoscles{
    width:0;
    border: left 100px solid transparent;
    border-right:100px solid transparent;
    border-bottom:80px solide red; 
}